body {
    font-family: "Montserrat", sans-serif;
}

#categories {
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    width: 392px;
}

#categories .item {
    font-family: "Montserrat", sans-serif;
    background: #f6f6fe;
    width: 400px;
    border-radius: 8px;
}

#categories .item h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
    color: #2e2f42;
    padding-left: 16px;
}

#categories .item ul {
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    border-radius: 4px;
    padding: 12px;
    background: #f6f6fe;
    width: 360px;
}

#categories .item ul li{
    font-family: "Montserrat", sans-serif;
    padding-left: 16px;
    display: flex;
    align-items: center;
    width: 360px;
    height: 40px;
    border: 1px solid #808080;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

ul {
    font-family: "Montserrat", sans-serif;
    list-style: none;
}